- if @hospitals.empty?
  .row
    .col-sm-12
      .alert.alert-warning{ role: 'alert'}= t('no_search_results')

- i = 0
- @hospitals.each do |hospital|
  - i += 1
  - if i % 2 == 1
    <div class='row'>
  .col-sm-6
    %article
      .pull-right
        %button.btn{ type: "button", title: t('take_over_hospital') }= t('take_over')
      %strong= hospital.name
      %address.small
        = hospital.street
        %br
        = hospital.address
  - if i % 2 == 0
    </div>