- if @hospitals.empty?
  .row
    .col-sm-12
      - if @query_hospital.length > 1
        .alert.alert-warning{ role: 'alert'}= t('no_search_results')
- else
  - i = 0
  - @hospitals.with_details.each do |hospital, details|
    - i += 1
    - if i % 2 == 1
      <div class='row'>
    .col-sm-6
      %article.searchResultEntry{ id: 'hospital_' + hospital.id.to_s }
        .pull-right
          %button.btn.hospitalselection{ type: "button", title: t('take_over_hospital'), 'data-hospital-id': hospital.id, 'data-hospital-display': hospital.name }= t('take_over')
        %strong
          = link_to(raw(highlight_hospital(hospital.name, details, :name)), system_hospital_path(@system, hospital, level: 'Drg'),
          {target: 'blank', title: t('show_all_services_from_hospital')})
        .small
          = raw highlight_text(hospital.street, details, :street)
          %br
          = raw highlight_text(hospital.address, details, :address)
    - if i % 2 == 0 || i == @hospitals.length
      </div>