%h2= @hospital.name

%div.dropdown{ style: 'margin-bottom: 10px;'}
  #level-select
    = t('level')
    %select#level{ name: 'level'}
      - ['Mdc', 'Adrg', 'Drg'].each do |level|
        - url =  system_hospital_path(@system, @hospital, level: level)
        %option.level-selection{ selected: @level == level.upcase ? 'selected' : nil, value: url }= level.upcase + ' ' + t(level.downcase)

.row.table-responsive
  .col-sm-12
    %table.table.table-bordered.table-striped.text-right
      %thead.text-left
        %tr
          %th= t('diagnosis_group')
          %th= t('num_cases')
      %tbody
        - unless @level == 'MDC'
          %tr
            %td
              - if @all_cases.code_object.nil?
                = @all_cases.code
              - else
                = @all_cases.code_object.code_display
                .small= @all_cases.code_object.text locale
            %td
              = numcase_display @all_cases
        - @num_cases.each do |nc|
          %tr
            %td
              - if nc.code_object.nil?
                = nc.code
              - else
                = nc.code_object.code_display
                .small= nc.code_object.text locale
            %td
              = numcase_display nc