= render 'selection'

%h3= t('comparison_table')

- if @codes.empty? || @hospitals.empty?
  .row
    .col-sm-12
      .alert.alert-info{ role: 'alert'}= t('pick_at_least_one')

- else
  / Nav tabs
  %ul.nav.nav-tabs#resultsTabs
    %li{ class: params['activeTab'] == 'tableLink' ? 'active' : '' }
      %a#tableLink{ href: '#tableResults', 'data-toggle': 'tab'}
        = fa_icon('table')
    %li{ class: params['activeTab'].blank? || params['activeTab'] == 'barChartLink' ? 'active' : '' }
      %a#barChartLink{ href: '#barChartResults', 'data-toggle': 'tab'}
        = fa_icon('bar-chart-o')
    %li{ class: params['activeTab'] == 'timeSeriesLink' ? 'active' : '' }
      %a#timeSeriesLink{ href: '#timeSeriesResults', 'data-toggle': 'tab', title: t('time_series_chart_title')}
        = fa_icon('line-chart')

  / Tab panes
  .tab-content.tab-border.scrollable
    #tableResults.tab-pane.table-responsive{ class: params['activeTab'] == 'tableLink' ? 'active' : '' }
      %table.table.table-bordered.table-striped.text-right
        %thead.text-left
          %tr
            %th
            - @codes.each do |code|
              %th{ title: code.text(locale) }
                = code.code_display
        %tbody
          - @hospitals.each do |hospital|
            %tr
              %td
                = hospital.name
              - num_cases = @num_cases[hospital.hospital_id]
              - @codes.each do |code|
                %td= numcase_display(num_cases[code.code])

    #barChartResults.tab-pane{ class: params['activeTab'].blank? || params['activeTab'] == 'barChartLink' ? 'active' : '' }
      :javascript
        $( window ).resize(function() {
          google.charts.setOnLoadCallback(drawBarChart);
          if(drawLineChart != undefined)
            google.charts.setOnLoadCallback(drawLineChart);
        });
        $('#barChartLink').on('shown.bs.tab', function (e) {
          google.charts.setOnLoadCallback(drawBarChart);
        });
        google.charts.setOnLoadCallback(drawBarChart);

        function drawBarChart() {
          var data = google.visualization.arrayToDataTable(#{chart_data(@codes, @hospitals, @num_cases).to_json});

          var options = {
            title: "#{t('comparison_table')}",
            hAxis: { title: "#{t('num_cases')}", titleTextStyle: {color: '#888888' }},
            vAxis: { title: "#{t('hospitals')}", titleTextStyle: {color: '#888888' }},
            chartArea: { left: '18%', width: '62%' },
            colors: ['#DC0018', '#006699', '#66AFE9', '#FFFAB2', '#D8E8EF', '#757575', '#F7001D']
          };

          var chart = new google.visualization.BarChart(document.getElementById('barchart_comparison_num_cases'));

          chart.draw(data, options);
        }
      #barchart_comparison_num_cases{ style: "height: 400px;" }

    #timeSeriesResults.tab-pane{ class: params['activeTab'] == 'timeSeriesLink' ? 'active' : '' }
      - if @system.years.length == 1
        .alert.alert-info{ role: 'alert'}= t('only_one_year')
      - else
        - time_series = time_series_data(@codes, @hospitals, @num_cases)
        :javascript
          $('#timeSeriesLink').on('shown.bs.tab', function (e) {
            google.charts.setOnLoadCallback(drawLineChart);
          });
          if(drawLineChart != undefined)
            google.charts.setOnLoadCallback(drawLineChart);
          function drawLineChart() {
            var data = new google.visualization.DataTable();
            var columns = #{time_series[0].to_json};
            data.addColumn('string', columns[0]);
            for(var i = 1, size = columns.length; i < size ; i++){
                data.addColumn('number', columns[i]);
            }

            data.addRows(#{time_series[1].to_json});


            var options = {
              //colors: ['#DC0018', '#006699', '#66AFE9', '#FFFAB2', '#D8E8EF', '#757575', '#F7001D'],
              title: "#{t('time_series_chart_title')}",
              pointSize: 6,
              chartArea: {  height: "60%" },
              legend: { position: 'top', height: "20%", top: 10, textStyle: {fontSize: 12}, maxLines: 4},
              hAxis: { title: "#{t('data_year')}", titleTextStyle: {color: '#888888' }},
              vAxis: { title: "#{t('num_cases')}", titleTextStyle: {color: '#888888' }},
            };

            var chart = new google.visualization.LineChart(document.getElementById('linechart-time-series'));

            chart.draw(data, options);
          }
        #linechart-time-series{ style: "height: 400px;" }
