= render 'selection'

%h3= t('comparison_table')

- if @codes.empty? || @hospitals.empty?
  .row
    .col-sm-12
      .alert.alert-info{ role: 'alert'}= t('pick_at_least_one')

- else
  / Nav tabs
  %ul.nav.nav-tabs
    %li
      %a{ href: '#tableResults', 'data-toggle': 'tab'}
        = fa_icon('table')
    %li.active
      %a{ href: '#barChartResults', 'data-toggle': 'tab'}
        = fa_icon('bar-chart-o')
    %li
      %a{ href: '#timeSeriesResults', 'data-toggle': 'tab'}
        = fa_icon('line-chart')

  / Tab panes
  .tab-content.tab-border.scrollable
    #tableResults.tab-pane.table-responsive
      %table.table.table-bordered.table-striped.text-right
        %thead.text-left
          %tr
            %th
            - @codes.each do |code|
              %th{ title: code.text(locale) }
                = code.code_display
        %tbody
          - @hospitals.each do |hospital|
            %tr
              %td.important
                = hospital.name
              - num_cases = @num_cases[hospital.hospital_id]
              - @codes.each do |code|
                %td= numcase_display(num_cases[code.code])

    #barChartResults.tab-pane.active
      :javascript
        google.charts.setOnLoadCallback(drawBarChart);
        function drawBarChart() {
          var data = google.visualization.arrayToDataTable(#{chart_data(@codes, @hospitals, @num_cases).to_json});

          var options = {
            colors: ['#DC0018', '#006699', '#66AFE9', '#FFFAB2', '#D8E8EF', '#757575', '#F7001D'],
            chart: {}
          };

          var chart = new google.charts.Bar(document.getElementById('barchart_comparison_num_cases'));

          chart.draw(data, options);
        }
      #barchart_comparison_num_cases{ style: "height: 400px;" }

    #timeSeriesResults.tab-pane
      :javascript
        google.charts.setOnLoadCallback(drawLineChart);

        function drawLineChart() {
          var data = google.visualization.arrayToDataTable(#{time_series_data(@codes, @hospitals, @num_cases).to_json});

          var options = {
            colors: ['#DC0018', '#006699', '#66AFE9', '#FFFAB2', '#D8E8EF', '#757575', '#F7001D'],
            title: "#{t('time_series_chart_title')}",
            legend: { position: 'bottom' }
          };

          var chart = new google.visualization.LineChart(document.getElementById('linechart-time-series'));

          chart.draw(data, options);
        }
      #linechart-time-series{ style: "height: 400px;" }
