%h3= t('comparison_table')

- if @codes.empty? || @hospitals.empty?
  .row
    .col-sm-12
      .alert.alert-info{ role: 'alert'}= t('pick_at_least_one')

- unless @codes.empty? && @hospitals.empty?
  %table.table.table-bordered.table-striped.text-right
    %thead.text-left
      %tr
        %th
        - @codes.each do |code|
          %th
            = code.code_display + ' '
            %span.small{style: "color:#757575" }= code.text locale
            %span.small.pull-right.icon.icon--trash.removeCode{ 'aria-hidden': "true", style: "color:#757575", title: t('remove_from_comparison'), 'data-code': code.code }
    %tbody
      - @hospitals.each do |hospital|
        %tr
          %td.important
            = hospital.name
            %span.small.icon.icon--trash.removeHospital{ 'aria-hidden': "true", style: "color:#757575", title: t('remove_from_comparison'), 'data-hospital-id': hospital.id }
          - num_cases = @num_cases[hospital.hospital_id]
          - @codes.each do |code|
            %th= num_cases[code.code] == nil ? '0' : num_cases[code.code].n