%h3= t('comparison_table')

- if @codes.empty? || @hospitals.empty?
  .row
    .col-sm-12
      .alert.alert-info{ role: 'alert'}= t('pick_at_least_one')

- unless @codes.empty? && @hospitals.empty?
  / Nav tabs
  %ul.nav.nav-tabs
    %li
      %a{ href: '#tableResults', 'data-toggle': 'tab'}
        %span.icon.icon--list
    %li.active
      %a{ href: '#barChartResults', 'data-toggle': 'tab'}
        %span.icon.icon--cart

  / Tab panes
  .tab-content.tab-border
    #tableResults.tab-pane
      %table.table.table-bordered.table-striped.text-right
        %thead.text-left
          %tr
            %th
            - @codes.each do |code|
              %th
                = code.code_display + ' '
                %span.small{style: "color:#757575" }= code.text locale
                %span.small.pull-right.icon.icon--trash.removeCode{ 'aria-hidden': "true", style: "color:#757575", title: t('remove_from_comparison'), 'data-code': code.code }
        %tbody
          - @hospitals.each do |hospital|
            %tr
              %td.important
                = hospital.name
                %span.small.icon.icon--trash.removeHospital{ 'aria-hidden': "true", style: "color:#757575", title: t('remove_from_comparison'), 'data-hospital-id': hospital.id }
              - num_cases = @num_cases[hospital.hospital_id]
              - @codes.each do |code|
                %th= num_cases[code.code] == nil ? '0' : num_cases[code.code].n

    #barChartResults.tab-pane.active
      :javascript
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['#{t('hospitals')}', #{@codes.map{|code| "'" + code.code_display + "'"}.join(', ')}],
            ['2014', 1000, 400, 200],
            ['2015', 1170, 460, 250],
            ['2016', 660, 1120, 300],
            ['2017', 1030, 540, 350]
          ]);

          var options = {
            chart: {}
            //bars: 'horizontal' // Required for Material Bar Charts.
          };

          var chart = new google.charts.Bar(document.getElementById('barchart_material'));

          chart.draw(data, null);
        }
      #barchart_material{ style: "height: 400px;" }


