%h3= t('search_results')

- if @hospitals.nil? || @drgs.nil? || @mdcs.nil? || @adrgs.nil?
  = t('please_search')
- else
  / Nav tabs
  %ul.nav.nav-tabs
    %li.active
      %a{ href: '#hospitalSearchResults', 'data-toggle': 'tab'}= t('hospitals')
    %li
      %a{ href: '#mdcSearchResults', 'data-toggle': 'tab'}= t('mdcs')
    %li
      %a{ href: '#adrgSearchResults', 'data-toggle': 'tab'}= t('adrgs')
    %li
      %a{ href: '#drgSearchResults', 'data-toggle': 'tab'}= t('drgs')

  / Tab panes
  .tab-content.tab-border
    #hospitalSearchResults.tab-pane.active
      = render 'search/search_results_hospitals'

    #mdcSearchResults.tab-pane
      = render partial: 'search/search_results_codes', locals: {codes: @mdcs}

    #adrgSearchResults.tab-pane
      = render partial: 'search/search_results_codes', locals: {codes: @adrgs}

    #drgSearchResults.tab-pane
      = render partial: 'search/search_results_codes', locals: {codes: @drgs}