%h3= t('search_results')

- if @hospitals.nil? || @drgs.nil? || @mdcs.nil? || @adrgs.nil?
  = t('please_search')
- else
  / Nav tabs
  %ul.nav.nav-tabs
    %li.active
      %a{ href: '#hospitalSearchResults', 'data-toggle': 'tab'}= t('hospitals')
    %li
      %a{ href: '#codeSearchResults', 'data-toggle': 'tab'}= t('diagnosis_group')

  / Tab panes
  .tab-content.tab-border
    #hospitalSearchResults.tab-pane.active
      = render 'search/search_results_hospitals'

    #codeSearchResults.tab-pane
      = render partial: 'search/search_results_codes'