%h3= t('search_results')
/ Nav tabs
%ul.nav.nav-tabs
  %li.active
    %a{ href: '#hospitalSearchResults', 'data-toggle': 'tab'}= t('hospitals')
  %li
    %a{ href: '#mdcSearchResults', 'data-toggle': 'tab'}= t('mdcs')
  %li
    %a{ href: '#adrgSearchResults', 'data-toggle': 'tab'}= t('adrgs')
  %li
    %a{ href: '#drgSearchResults', 'data-toggle': 'tab'}= t('drgs')

/ Tab panes
.tab-content.tab-border
  #hospitalSearchResults.tab-pane.active
    = t('please_search')

  #mdcSearchResults.tab-pane
    = t('please_search')

  #adrgSearchResults.tab-pane
    = t('please_search')

  #drgSearchResults.tab-pane
    = t('please_search')