%h3= t('selection')

.row
  .col-sm-5.sortableHospitals
    - @hospitals.each do |hospital|
      .selection.bordered-well{ 'data-hospital-id': hospital.id }
        = hospital.name
        %span.pull-right.removeHospital{ 'aria-hidden': 'true', style: 'color:#757575', title: t('remove_from_comparison'), 'data-hospital-id': hospital.id }= fa_icon('remove')

  .col-sm-7.sortableCodes
    - @codes.each do |code|
      .selection.bordered{ 'data-code': code.code }
        = code.code_display + ' '
        %span.small{style: "color:#757575" }= code.text locale
        %span.pull-right.removeCode{ 'aria-hidden': 'true', style: 'color:#757575', title: t('remove_from_comparison'), 'data-code': code.code }= fa_icon('remove')
        %ol.breadcrumb{ role: 'navigation' }
          = render partial: 'code_hierarchy', locals: {code: code, base_code: code}



