:javascript
  $( function() { setURL(); });

.container{ style: 'margin-top: 20px; padding-right: 3.0em;'}
  .row
    .col-sm-6
      %h2
        = t('search_hospitals_drgs')
        .small= data_from @system
    .col-sm-6{ style: 'margin-top: 22px;'}
      = render 'version_selection'
  .row
    .col-sm-6
      #hospital-searchbox= render 'hospital_search'
    .col-sm-6
      #drg-searchbox= render 'drg_search'
  .row
    #search-results.col-sm-12= render 'search_results'
    .hidden
      = text_field_tag 'compareUrl', compare_system_path(@system)
      = text_field_tag 'hospitals', @hospitals.map(&:id).join(',')
      = text_field_tag 'codes', @codes.map(&:code).join(',')
  %h3= t('selection')
  .row
    .col-sm-3{ style: 'margin-bottom: 12px;'}
      %button#deleteAllButton.btn{ type: 'button' }= t('delete_all')
  .row
    .col-sm-12
      #comparison-resultsbox= render 'results'


