%h1.page-title= @system.text locale

.container
  .row
    .col-lg-4
      #version-selection= render 'version_selection'
    .col-lg-4
      #hospital-search= render 'hospital_search'
    .col-lg-4
      #drg-search= render 'drg_search'
  .row
    .col-lg-12
      #search-results= render 'search_results'
  .row
    .col-lg-12
      #comparison-results= render 'results'


