.container{ style: 'margin-top: 20px; padding-right: 3.0em;'}
  .row
    .col-sm-12
      %h2
        = @system.application_year
        .small= data_from @system
  .row
    -#.col-sm-2
    -#  #version-selectionbox= render 'version_selection'
    .col-sm-6
      #hospital-searchbox= render 'hospital_search'
    .col-sm-6
      #drg-searchbox= render 'drg_search'
  .row
    #search-results.col-sm-12= render 'search_results'
    .hidden
      = text_field_tag 'compareUrl', compare_system_path(@system)
      = text_field_tag 'hospitals', @hospitals.map(&:id).join(',')
      = text_field_tag 'codes', @codes.map(&:code).join(',')
  .row
    .col-sm-12
      #comparison-resultsbox= render 'results'


