.container{ style: 'margin-top: 20px;'}
  .row
    .col-sm-2
      #version-selectionbox= render 'version_selection'
    .col-sm-5
      #hospital-searchbox= render 'hospital_search'
    .col-sm-5
      #drg-searchbox= render 'drg_search'
  .row
    .col-sm-12= render 'search_results'
  .row
    .col-sm-12
      #comparison-resultsbox= render 'results'


