!!!
/[if lt IE 7 ] <html class="no-js ie6 oldie">
/[if IE 7 ] <html class="no-js ie7 oldie">
/[if IE 8 ] <html class="no-js ie8 oldie">
/[if IE 9 ] <html class="no-js ie9">
/ [if gt IE 9 ]><!
%html.no-js.no-ie{:lang => "#{I18n.locale}"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = t('drg_search')
      \- #{t('foph_long')}
    = favicon_link_tag '/img/ico/favicon.ico'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    <link rel="apple-touch-icon" sizes="57x57" href="/img/ico/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/ico/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/ico/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/ico/apple-touch-icon-76x76.png">
    <link rel="icon" type="image/png" href="/img/ico/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/ico/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/ico/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ico/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/ico/browserconfig.xml">

    = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
    :javascript
      I18n.defaultLocale = '#{I18n.default_locale}';
      I18n.locale = '#{I18n.locale}';
      google.charts.load('current', {packages: ['corechart', 'bar'], 'language': '#{I18n.locale}'});

    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    .container.container-main
      %header
        .clearfix
          %nav.navbar.treecrumb.pull-left{ role: 'navigation'}
            %h2.sr-only Orientation in the website
            %ul.nav.navbar-nav
              / Treecrumb dropdown element
              %li.dropdown
                %a.dropdown-toggle{ href: "http://www.admin.ch/gov/#{locale}/start.html", target: "_blank", title: "Bundesverwaltung admin.ch"}= t('admin_ch')
              %li.dropdown
                %a.dropdown-toggle{ href: "http://www.edi.admin.ch/edi/#{locale}/home.html", target: "_blank", title: t('edi_long')}= t('edi')
              %li.dropdown
                %a.dropdown-toggle{ href: "http://www.bag.admin.ch/index.html?lang=" + locale.to_s, target: "_blank", title: t('foph_long')}= t('foph')
          %section.nav-services.clearfix
            %h2.sr-only= t('language_selection')
            %nav.nav-lang
              %ul
                %li
                  %a{"aria-label" => "Deutsch ", :class => 'lang-selection ' + (I18n.locale == :de ? 'active' : ''), :href => "#{url_for( :locale => 'de')}?codes=#{@codes_url_query}&hospitals=#{@hospitals_url_query}", :lang => "de", :title => "Deutsch"} DE
                %li
                  %a{"aria-label" => "Français ", :class => 'lang-selection ' +  (I18n.locale == :fr ? 'active' : ''), :href => "#{url_for( :locale => 'fr')}?codes=#{@codes_url_query}&hospitals=#{@hospitals_url_query}", :lang => "fr", :title => "Français"} FR
                %lih
                  %a{"aria-label" => "Italiano", :class => 'lang-selection ' + (I18n.locale == :it ? 'active' : ''), :href => "#{url_for( :locale => 'it')}?codes=#{@codes_url_query}&hospitals=#{@hospitals_url_query}", :lang => "it", :title => "Italiano"} IT
            %h2.sr-only= t('services_navigation')
            %nav.nav-service
              %ul
                %li
                  %a{:href => contact_path, :lang => locale, :title => "#{t('contact')}"} #{t('contact')}
        .clearfix
          %a.brand.hidden-xs{:href => "#{url_for( :locale => I18n.locale)}"}
            %img{:onerror => "this.onerror=null; this.src='/img/logo-CH.png'", :src => "/img/logo-CH.svg"}/
            %h1
              = t('drg_search')
              \- #{t('foph_long')}
      .header-separator
      .clearfix
        %nav#main-navigation.nav-main.yamm.navbar
          %section.nav-mobile
            .table-row
              .nav-mobile-header
                .table-row
                  %span.nav-mobile-logo
                    %img{ src: '/img/swiss.svg', onerror: "this.onerror=null; this.src='/img/swiss.png'", alt: "Confederatio Helvetica"}
                  %h1= t('drg_search')
              .table-cell.dropdown
                %a.nav-mobile-menu.dropdown-toggle{ :href => "#", 'data-toggle' => "dropdown"}
                  %span.icon.icon--menu.center-block
                .drilldown.dropdown-menu{ role: "menu"}
                  .drilldown-container
                    %nav.nav-page-list
                      %ul
                        %li
                          %nav.drilldown-sub
                          = link_to t('drg_search'), root_path
                          %ul
                            - System.order(version: :desc).each do |system|
                              %li
                                = link_to system.application_year, system_path(system)
                                = data_from(system)
                        %li
                          = link_to t('about'), about_path
                        %li
                          = link_to t('help'), help_path
          %ul.nav.navbar-nav
            %li.dropdown.yamm-fw{ class: controller.controller_name == 'systems' ? 'current' : ''}
              = link_to t('drg_search'), root_path, {class: 'dropdown-toggle', 'data-toggle': 'dropdown'}
              %ul.dropdown-menu{ role: "menu"}
                - System.order(version: :desc).each do |system|
                  %li
                    .yamm-content.container-fluid
                      %h4= link_to system.application_year, system_path(system)
                      = data_from(system)
            %li.dropdown.yamm-fw{ class: controller.controller_name == 'home' && controller.action_name == 'about' ? 'current' : ''}
              = link_to t('about'), about_path
            %li.dropdown.yamm-fw{ class: controller.controller_name == 'home' && controller.action_name == 'help' ? 'current' : ''}
              = link_to t('help'), help_path
      .row
        .col-xs-12
          #content.container-fluid
            = yield
      %footer
        .container-fluid.footer-service
          %h3
            ©2016 #{t('foph_long')}
        .container-fluid
          %hr.footer-line.visible-xs/
          %img.visible-xs{:alt => "back to home", :onerror => "this.onerror=null; this.src='#{image_path("logo-CH.png")}'", :src => "#{image_path("logo-CH.svg")}"}/
        %address
          %span.hidden-xs
            ©2016 #{t('foph_long')}
          %nav.pull-right
            %ul
              %li
                %a{:href => contact_path, :lang => locale, :title => "#{t('contact')}"} #{t('contact')}
              %li
                %a{:href => "http://www.disclaimer.admin.ch/terms_and_conditions.html", target: '_blank'}= t('legal')
