!!!
/[if lt IE 7 ] <html class="no-js ie6 oldie">
/[if IE 7 ] <html class="no-js ie7 oldie">
/[if IE 8 ] <html class="no-js ie8 oldie">
/[if IE 9 ] <html class="no-js ie9">
/ [if gt IE 9 ]><!
%html.no-js.no-ie{:lang => "#{I18n.locale}"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = t('drg_search')
      \- #{t('foph_long')}
    = favicon_link_tag '/img/ico/favicon.ico'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    <link rel="apple-touch-icon" sizes="57x57" href="/img/ico/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/ico/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/ico/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/ico/apple-touch-icon-76x76.png">
    <link rel="icon" type="image/png" href="/img/ico/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/ico/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/ico/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ico/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/ico/browserconfig.xml">

    = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
    :javascript
      I18n.defaultLocale = '#{I18n.default_locale}';
      I18n.locale = '#{I18n.locale}';
      google.charts.load('current', {packages: ['corechart'], 'language': 'ch'});

    <!-- Copyright (c) 2000-2016 etracker GmbH. All rights reserved. -->
    <!-- This material may not be reproduced, displayed, modified or distributed -->
    <!-- without the express prior written permission of the copyright holder. -->
    <!-- etracker tracklet 4.1 -->
    :javascript
      //var et_pagename = "";
      //var et_areas = "";
      //var et_url = "";
      //var et_target = "";
      //var et_tval = "";
      //var et_tonr = "";
      //var et_tsale = 0;
      //var et_basket = "";
      //var et_cust = "";

    <script id="_etLoader" type="text/javascript" charset="UTF-8" data-secure-code="2oE1P3" src="//static.etracker.com/code/e.js"></script>
    <!-- etracker tracklet 4.1 end -->

    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    .container.container-main
      %header
        .clearfix
          %nav.navbar.treecrumb.pull-left{ role: 'navigation'}
            %h2.sr-only Orientation in the website
            %ul.nav.navbar-nav
              / Treecrumb dropdown element
              %li.dropdown
                %a.dropdown-toggle{ href: "http://www.admin.ch/gov/#{locale}/start.html", target: "_blank", title: "Bundesverwaltung admin.ch"}= t('admin_ch')
              %li.dropdown
                %a.dropdown-toggle{ href: "http://www.edi.admin.ch/edi/#{locale}/home.html", target: "_blank", title: t('edi_long')}= t('edi')
              %li.dropdown
                %a.dropdown-toggle{ href: "http://www.bag.admin.ch/index.html?lang=" + locale.to_s, target: "_blank", title: t('foph_long')}= t('foph')
          %section.nav-services.clearfix
            %h2.sr-only= t('language_selection')
            %nav.nav-lang
              %ul
                %li
                  = link_to('DE', params.permit(:locale).merge({ locale: :de }),
                  {"aria-label" => "Deutsch ", :class => I18n.locale == :de ? 'lang-selection active' : 'lang-selection',
                  :lang => "de", :title => "Deutsch", :data => "#{url_for( :locale => 'de')}"})
                %li
                  = link_to('FR', params.permit(:locale).merge({ locale: :fr }),
                  {"aria-label" => "Français ", :class => I18n.locale == :fr ? 'lang-selection active' : 'lang-selection',
                  :lang => "fr", :title => "Français", :data => "#{url_for( :locale => 'fr')}"})
                %lih
                  = link_to('IT', params.permit(:locale).merge({ locale: :it }),
                  {"aria-label" => "Italiano ", :class => I18n.locale == :it ? 'lang-selection active' : 'lang-selection',
                  :lang => "it", :title => "Italiano", :data => "#{url_for( :locale => 'it')}"})
                %lih
                  -if controller.controller_name == 'home'
                    = link_to('EN', params.permit(:locale).merge({ locale: :en }),
                    {"aria-label" => "English ", :class => I18n.locale == :en ? 'lang-selection active' : 'lang-selection',
                    :lang => "en", :title => "English", :data => "#{url_for( :locale => 'en')}"})
                  - else
                    = link_to('EN', params.permit(:locale).merge({ locale: :en }),
                    {"aria-label" => "English ", :class => 'lang-selection disabled',
                    :lang => "en", :title => "English", :data => "#{url_for( :locale => 'en')}"})
            %h2.sr-only= t('services_navigation')
            %nav.nav-service
              %ul
                %li
                  %a{:href => contact_path, :title => "#{t('contact')}"} #{t('contact')}
        .clearfix
          %a.brand.hidden-xs{:href => home_path}
            %img{:onerror => "this.onerror=null; this.src='/img/logo-CH.png'", :src => "/img/logo-CH.svg"}/
            %h1
              = t('drg_search')
              \- #{t('foph_long')}
      .clearfix
        - unless ['hospitals', 'codes'].include? controller.controller_name
          %nav#main-navigation.nav-main.yamm.navbar
            %section.nav-mobile
              .table-row
                .nav-mobile-header
                  .table-row
                    %span.nav-mobile-logo
                      %img{ src: '/img/swiss.svg', onerror: "this.onerror=null; this.src='/img/swiss.png'", alt: "Confederatio Helvetica"}
                    %h1= t('drg_search')
                .table-cell.dropdown{ style: 'min-width: 43px;'}
                  %a.nav-mobile-menu.dropdown-toggle{ :href => "#", 'data-toggle' => "dropdown", "aria-haspopup": "true", "aria-expanded": "false"}
                    %span.icon.icon--menu
                  .drilldown.dropdown-menu{ role: "menu"}
                    .drilldown-container
                      %nav.nav-page-list
                        %ul
                          %li
                            = link_to t('drg_search'), system_path(System.order(version: :desc).first())
                          %li
                            = link_to t('documentation'), '160615_DRG-Fallzahlsuche_user manual_FR.PDF', {target: 'blank'}
            %ul.nav.navbar-nav
              %li.dropdown.yamm-fw{ class: controller.controller_name == 'systems' ? 'current' : ''}
                = link_to t('drg_search'), system_path(System.order(version: :desc).first())
              %li.dropdown.yamm-fw{ class: controller.controller_name == 'home' && controller.action_name == 'documentation' ? 'current' : ''}
                = link_to t('documentation'), {'fr': '/DRG-Fallzahlsuche_user manual_FR.pdf',
                                              'de': '/DRG-Fallzahlsuche_user manual_DE.pdf',
                                              'en': '/DRG-Fallzahlsuche_user manual_DE.pdf',
                                              'it': '/DRG-Fallzahlsuche_user manual_IT.pdf'}[locale], {target: 'doc'}
      .row
        .col-xs-12
          #content.container-fluid
            = yield
      %footer
        .container-fluid.footer-service
          %h3
            ©2016 #{t('foph_long')}
        .container-fluid
          %hr.footer-line.visible-xs/
          %img.visible-xs{:alt => "back to home", :onerror => "this.onerror=null; this.src='#{image_path("logo-CH.png")}'", :src => "#{image_path("logo-CH.svg")}"}/
        %address
          %span.hidden-xs
            ©2016 #{t('foph_long')} | created by
            %a{ href: 'http://www.eonum.ch', target: 'blank'} eonum
          %nav.pull-right
            %ul
              %li
                %a{:href => contact_path, :lang => locale, :title => "#{t('contact')}"} #{t('contact')}
              %li
                %a{:href => t('legal_link'), target: '_blank'}= t('legal')
